<head>
        <title>Lista urzadzen</title>
        <%- include ('./partials/head.ejs')%>
        <link rel='stylesheet' type="text/css" href="./deviceList.css">
        <script type="text/javascript" src="./deviceListScripts.js"></script>
</head>
<body>
    
    <%- include ('./partials/header.ejs')%>
    
    
    <content>
        <ul class=devices>
            <%devices.forEach(element => {%>
                <li>
                    <div class='deviceContainer'>
                        <div class='deviceName'>
                            <%= element.Device_Name %>
                                <%if(session.userPrivilege>5 && session.loggedin){%>
                                    <button class='deleteButton'>
                                            Usun
                                        </button>
                                    <button class='editButton' onclick='editDevice(<%= JSON.stringify(element)%>,<%= JSON.stringify(rooms)%>,<%=JSON.stringify(types)%>)'>
                                        Edytuj
                                    </button>
                                <%}%>
                        </div>
                        <div class='deviceDetails' id="<%= element.Device_Name %>">
                                Typ urzadzenia: <%= element.Type_Name %><br>
                                W pokoju: <%= element.Room_Name %><br>
                                Zuzycie pradu: <%= element.Power_Consumption %> W<br>
                                Obecnie aktywny: <%= element.Status_ON_OFF %><br>
                                Wysyla powiadomienia: <%= element.Notifications_Enabled %><br>
                                Adres IP: <%= element.IP_Address %><br>
                                Wymagane uprawnienia: <%=element.Authorization_Level%><br>
                                W grupach: <%= element.In_Groups%><br>
                            </div>
                    </div>
                </li>
            <%})%>
        </ul>
       

    </content>
</body>