<head>
        <title>Lista urzadzen</title>
        <%- include ('./partials/head.ejs')%>
        <link rel='stylesheet' type="text/css" href="./deviceList.css">
        <script type="text/javascript" src="./deviceListScripts.js"></script>
</head>
<body>
    
    <%- include ('./partials/header.ejs')%>
    
    
    <content>
        <ul class=devices>
            <%devices.forEach(element => {%>
                <li>
                    <div class='deviceContainer'>
                        <div class='deviceName'>
                            <%= element.Device_Name %>
                                <%if(session.userPrivilege>5 && session.loggedin){%>
                                    <button class='deleteButton'>
                                            Usun
                                        </button>
                                    <button class='editButton' onclick='editDevice(<%= JSON.stringify(element)%>,<%= JSON.stringify(rooms)%>,<%=JSON.stringify(types)%>)'>
                                        Edytuj
                                    </button>
                                <%}%>
                        </div>
                        <div class='deviceDetails' id="<%= element.Device_Name %>">
                               <span class='categorySpan'>Typ urzadzenia:</span>  <span class='valueSpan'><%= element.Type_Name %></span><br>
                               <span class='categorySpan'>W pokoju:</span>  <span class='valueSpan'><%= element.Room_Name %></span><br>
                                <span class='categorySpan'>Zuzycie pradu:</span>  <span class='valueSpan'><%= element.Power_Consumption %> W</span><br>
                                <span class='categorySpan'>Obecnie aktywny:</span>  <span class='valueSpan'><%= element.Status_ON_OFF %></span><br>
                                <span class='categorySpan'>Wysyla powiadomienia:</span>  <span class='valueSpan'><%= element.Notifications_Enabled %></span><br>
                                <span class='categorySpan'>Adres IP:</span>  <span class='valueSpan'><%= element.IP_Address %></span><br>
                                <span class='categorySpan'>Wymagane uprawnienia:</span>  <span class='valueSpan'><%=element.Authorization_Level%></span><br>
                                <span class='categorySpan'>W grupach:</span>  <span class='valueSpan'><%= element.In_Groups%></span><br>
                            </div>
                    </div>
                </li>
            <%})%>
        </ul>
       

    </content>
</body>