<head>
	<title>TEST</title>
	<link rel='stylesheet' type="text/css" href="./views/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<header>
		<h1><%= date%></h1><nav>
			<ul>
				<li class='navi'><div class='centering'>TEST1</div></li><li class='navi'><div class='centering'>TEST2</div></li><li class='navi'><div class='centering'>TEST3</div></li>
			</ul>
		</nav>
	</header>
	<content>
	<center>Testowanie pod bazy danych
		<div class='obiekty'>
			<ul>
				<% for(let i=0;i<lista.length;i+=6){ const j=i;%>
				<li class='dupa'><%=lista[j]%> - <%=lista[j+4]%> w <%=lista[j+1]%>, zuzywa <%=lista[j+2]%> W, status wlaczenia <%=lista[j+3]%>, adres IP <%=lista[j+5]%> </li>
				<%};%>
			</ul>
		</div>
		</center>
	</content>
</body>